/* Work Sans Font */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {

    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/* Commmon Style */
section {
    padding: 120px;
}

@media screen and (max-width: 576px) {
    section {
        padding: 20px;
    }
}

.primary-color {
    color: #FF900E;
}

.text-center {
    text-align: center;
}



/* header{
    width: 1300px;
} */

main {
    width: 1300px;
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
    main {
        width: 500px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    main {
        width: 992px;
        margin: 0 auto;
    }
}

/* Header Style  */
.header {
    background: rgba(255, 144, 14, 0.10);
    /* padding: 50px 50px; */
    padding: 50px 20px;

}

.nav-title {
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    list-style: none;
    display: flex;
}

nav>ul li {
    margin-right: 20px;
    font-size: 1rem;
}

/* Banner */

.banner {
    padding: 30px 0;
    text-align: center;
}

.banner-content {
    max-width: 800px;
    margin: 0 auto;
}

.banner-title {
    padding: 10px 0;
    color: #131313;
    font-size: 3.5rem;
    font-weight: 00;

}

.paragraph {
    color: #727272;
    padding: 40px 0;
    line-height: 1.5rem;
}

.banner img {
    margin-top: 30px;
    width: 100%;
}

.btn {
    padding: 20px 25px;
    color: #fff;
    background-color: #FF900E;
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}


/* Facts Style */
.facts {
    display: flex;
    justify-content: space-around;
}

.facts-heading {
    padding: 30px 0
}

.fact {
    padding: 30px;
    text-align: center;
    border: 1px solid #FF900E;
    gap: 30px;
}

.facts-heading h3 {
    font-size: 2rem;
    font-weight: 700;
}

.facts-heading p {
    font-size: 1rem;
    color: #727272;
    padding: 15px 0;
    line-height: 1.15rem;
}
















/* Responsive Banner*/

/* Mobile Device */
@media screen and (max-width:576px) {
    .header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        padding: 20px 0;
        font-size: .50em;
    }
}


/* Tablet Device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        margin: 20px 15px;
    }
}

/* Feature Section Style */
.feature {
    display: flex;
    gap: 50px;
    align-items: center;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.feature-images img {
    width: 250px;
}

.feature-content {
    width: 450px;
}

.feature-content h3 {
    font-size: 2.5rem;
    color: #727272;

}


/* Sponsor Style Start */
.sponsor-title {
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
    text-align: center;
}

.sponsors-logos {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 30px 0;
}

.sponsors-logos img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 100px;
}


footer{
    background-color: #FFF4E7;
    margin: 0 150px;
}


/* Responsive Features */
@media screen and (max-width: 576px) {
    .feature {
        flex-direction: column-reverse;
        text-align: center;
    }

    .feature-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-images img {
        width: 100%;
    }

    /* Fact Style */
    .facts {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    /* Sponsors Mobile Style */
    .sponsors-logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        text-align: center;
    }
    .sponsors-logos img{
        /* width: 50%;
        margin: 0 auto; */
    }
    footer{
        margin: 0 0px;
        
        font-size: .8rem;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .feature {
        flex-direction: column-reverse;
        text-align: center;
    }

    .feature-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-images img {
        width: 100%;
    }
}